version: '3'
services:
  homeassistant:
    container_name: homeassistant
    image: "ghcr.io/home-assistant/home-assistant:stable"
    volumes:
      - ./dev_env/config:/config
      - /etc/localtime:/etc/localtime:ro
      # Mount the local custom_components directory into the container
      - ./custom_components:/config/custom_components
    restart: unless-stopped
    privileged: true
    ports:
      - "8123:8123"
