[tool.ruff]
target-version = "py311"
line-length = 120
exclude = ["tests"]

[tool.ruff.lint]
select = [
    "B",   # flake8-bugbear
    "C4",  # flake8-comprehensions
    "E",   # pycodestyle errors
    "F",   # pyflakes
    "I",   # isort
    "UP",  # pyupgrade
    "W",   # pycodestyle warnings
    "G",   # flake8-logging-format
]

ignore = [
    "E501", # line too long (handled by line-length)
]

[tool.ruff.lint.isort]
known-first-party = ["custom_components.boks"]
