name: Validate HACS

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: HACS Validation
        uses: hacs/action@main
        with:
          category: integration
          ignore: brands
