name: Release Boks Integration

on:
  release:
    types: [published]

permissions:
  contents: write
  id-token: write
  attestations: write
  artifact-metadata: write

jobs:
  build_and_release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

      - name: Create ZIP archive
        run: |
          cd custom_components/boks
          zip -r ../../boks.zip .

      - name: Attest Build Provenance
        uses: actions/attest-build-provenance@977bb373ede98d70efdf65b84cb5f73e068dcc2a # v3
        with:
          subject-path: boks.zip

      - name: Upload Release Asset
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: boks.zip