name: Release Boks Integration

on:
  release:
    types: [published]

permissions:
  contents: write
  id-token: write
  attestations: write
  artifact-metadata: write

jobs:
  build_and_release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Create ZIP archive
        run: |
          cd custom_components/boks
          zip -r ../../boks.zip .

      - name: Attest Build Provenance
        uses: actions/attest-build-provenance@e8998f949152b193b063cb0ec769d69d929409be # v2
        with:
          subject-path: boks.zip

      - name: Upload Release Asset
        uses: softprops/action-gh-release@de2c0eb89ae2a093876385947365aca7b0e5f844 # v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: boks.zip